<h1>Sign Up</h1>

<%= form_tag "/users", method: :post do %>
  <div>Name: <input type="text" name="first_name"> </div><br>
  <div>Email: <input type="text" name="email"> </div><br>
  <div>Password: <input type="password" name="password"> </div><br>
  <div>Confirm Password: <input type="password" name="password_confirmation"> </div><br>
  <input type="submit" value="Let's Dive In"><br><br>
  <p>Already have an account? <a href="/login">login</a></p>
<% end %>