body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url('background.png');
}

.container {
  width: 100%;
}

.well img {
  width: 100%;
}

.game.well {
  background-color: white;
}

// #correct.well {
//   background-color: green;
// }

// #game.incorrect {
//   background-color: red;
// }

.description.container {
  width: 50%;
}

.description {
  height: auto;
}

.well {
  padding-top: 0px;
  padding-bottom: 5px;
  background-color: #5CB0E4;
}

.container-fluid {
  background-image: url('navbar.jpg');
}

.jumbotron {
  background-image: url('header.jpg');
  color: white;
}

.img-responsive {
  width: 25%;
}